/.idea
/vendor/
/composer.lock


/build

resources/function/composer.lock
resources/function/composer.json
resources/function/vendor
resources/function/src/Phuntime/Core
resources/function/src/Phuntime/Aws
resources/function/src/Phuntime/Local
/.aws-sam/
