/.idea
/vendor/
/composer.lock

example/phuntime-build
example/*.js
example/!jest.config.js
example/*.d.ts
example/node_modules
example/# CDK asset staging directory
example/.cdk.staging
example/cdk.out
example/# Parcel build directories
example/.cache
example/.build
